.form-section {
  background-color: white;
  padding: 80px;
  margin: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
  
.form-cadastro {
  max-width: 1000px;
  margin: auto;
}
  
.form-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}
  
.form-grid .col {
  flex: 1 1 43%;
  min-width: 300px;
}
  
@media (max-width: 768px) {
  .form-grid {
    flex-direction: column;
  }
  
  .form-grid .col {
    width: 100%;
  }
}
  
.form-group {
  margin-bottom: 20px;
}
  
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}
  
.form-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}
  
.form-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
  
.form-buttons button {
  background-color: #1A3439;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
  
.form-buttons button:hover {
  background-color: #265d68;
}
  
.form-buttons .voltar {
  text-decoration: none;
  color: #1A3439;
  font-weight: bold;
}
  
.pj-only,
.pf-only {
  display: none;
}
  
.tipo-cliente {
  margin-bottom: 30px;
}
  
.btn-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
  
.tipo-btn {
  flex: 1;
  padding: 12px;
  border: 2px solid #1A3439;
  background-color: transparent;
  color: #1A3439;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}
  
.tipo-btn:hover {
  background-color: #1A3439;
  color: #fff;
}
  
.tipo-btn.active {
  background-color: #1A3439;
  color: white;
}
  
.top-actions {
  text-align: left;
}
  
.btn-voltar-inicio {
  background-color: #1A3439;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
  
.btn-voltar-inicio:hover {
  background-color: #265d68;
}
  